{{page-title "TestApp"}}

<h2 id="title">Welcome to Ember InstantSearch Test App</h2>

<AisInstantSearch
  @appId="8EC98RO7PX"
  @apiKey={{this.apiKey}}
  @indexName="dev_keegantest"
  @middleware={{this.customMiddleware}}
  as |Ais|
>
  <AisSearchBox
    @searchInstance={{Ais.searchInstance}}
    @placeholder="Enter your query"
    @cssClasses={{hash root="search-box"}}
  />
  <AisHits
    @searchInstance={{Ais.searchInstance}}
    @customHitTemplate={{this.customHitTemplate}}
  />
</AisInstantSearch>

{{outlet}}