{{page-title "TestApp"}}

<h2 id="title">Welcome to Ember InstantSearch Test App</h2>

<AisInstantSearch
  @appId={{this.apiData.appId}}
  @apiKey={{this.apiData.apiKey}}
  @indexName={{this.apiData.indexName}}
  @middleware={{this.customMiddleware}}
  @configurationOptions={{this.configurationOptions}}
  as |Ais|
>
  <AisSearchBox
    @searchInstance={{Ais.searchInstance}}
    @placeholder="Enter your query"
    @cssClasses={{hash root="search-box"}}
  />

  <div class="info-toggle-bar">
    <AisStats @searchInstance={{Ais.searchInstance}} />

    <AisHitsPerPage
      @searchInstance={{Ais.searchInstance}}
      @items={{this.hitsPerPageItems}}
      @rootClass="hits-per-page"
    />
    <AisSortBy
      @searchInstance={{Ais.searchInstance}}
      @items={{this.sortByItems}}
    />
  </div>

  <AisHits
    @searchInstance={{Ais.searchInstance}}
    @customHitTemplate={{this.customHitTemplate}}
    @rootClass="hits"
  />
  <AisPagination @searchInstance={{Ais.searchInstance}} />
  <AisPoweredBy @searchInstance={{Ais.searchInstance}} />

</AisInstantSearch>

{{outlet}}