{{page-title "TestApp"}}

<h2 id="title">Welcome to Ember InstantSearch Test App</h2>

<AisInstantSearch
  @appId="8EC98RO7PX"
  @apiKey="451c0ea95cf158e197d52c893df64d76"
  @indexName="dev_keegantest"
  @middleware={{this.customMiddleware}}
  as |Ais|
>
  <AisSearchBox
    @searchInstance={{Ais.searchInstance}}
    @placeholder="Enter your query"
    @cssClasses={{hash root="search-box"}}
  />
  <AisHits
    @searchInstance={{Ais.searchInstance}}
    @hitTemplate={{this.hitTemplate}}
  />
</AisInstantSearch>

{{!-- <AisInstantSearch
  @appId="8EC98RO7PX"
  @apiKey="451c0ea95cf158e197d52c893df64d76"
  @indexName="dev_keegantest"
  as |AisInstantSearch|
>
  <AisSearchBox @searchInstance={{AisInstantSearch.searchInstance}} />
</AisInstantSearch> --}}

{{outlet}}